body {
  background-image: url("/bg.webp");
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.button-text {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
}

/* .screen {
  width: 100%;
  height: 100%;
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
} */

.active {
  display: flex;
}

.hide {
  display: none;
}

/* .one {
  background-image: url("/2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
} */

.two {
  background-image: url("/3.jpeg");
}

.three {
  background-image: url("/4.jpeg");
}

.email {
  position: absolute;
  top: 33.8rem;
  width: 21rem;
  left: 7.3rem;
  border: none;
  background: rgba(255, 255, 255, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0.7rem;
}

.email:focus {
  outline: none;
}

.btn-consultar {
  width: 100vw;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/btn.png");
  position: absolute;
  left: 4rem;
  top: 39rem;
  cursor: pointer;
}

.btn-reclamar {
  width: 100vw;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/btn2.png");
  position: absolute;
  left: 4rem;
  top: 42rem;
  cursor: pointer;
}

.reclamar{
  font-family: Montserrat;
}

.points {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
